<a href="https://colab.research.google.com/github/ajitpadole/Python_practice/blob/main/100_python_Qutions_in_Programiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#odd or even number 
num = int(input())
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

64
the number is even

In [ ]:
def is_even(n):
    if n%2==0:
        print("the number is even")
    else:
        print("the number is odd")
        
n = int(input())
is_even(n)

45
the number is odd

In [ ]:
##frequency
num=[1,2,3,4,5,1,2,2,2,3,3,4]
freq={}
for i in num:
    if i in freq:
        freq[i]+=1
    else:
        freq[i]=1
print(freq)

{1: 2, 2: 4, 3: 3, 4: 2, 5: 1}

In [ ]:
#List Comprihension
#common numbers 
list1=[1,2,3,4,5]
list2=[3,4,5,6,7]
list1=set(list1)
list2=set(list2)
print(list1 & list2)

{3, 4, 5}

In [ ]:
#prime

def is_prime(num):
    for i in range(2,num):
        if num %i ==0:
            print("the number is not prime")
            break
    else:
        print("the number is prime")
num = int(input())
if num == 1:
    print ("the number is natural")
is_prime(num)

1
the number is natural
the number is prime

In [ ]:
# sum of first 2 element from arrey
import numpy as np
arr = np.array([1,2,5,4,7,8,9,6,3])
sum_arr = np.sum(arr[:2])
print(sum_arr)

3

In [ ]:
dic= {"carname":"Mercidise","avg":15,"name":"akash","price":102563}
print(dic.values())

dict_values(['Mercidise', 15, 'akash', 102563])

In [ ]:
#find common ele from a list
list1=[1,1,2,2,3,3,3,4,5,6,7,7,7]
list1=set(list1)
print(list1)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
#remove empty list from list
list1=[1,2,3,[],5,6,[],7,[],8]
list2=[]
for i in list1:
    if i!=[]:
        list2.append(i)
print(list2)

[1, 2, 3, 5, 6, 7, 8]

In [ ]:
for i in list1:
    if i==[]:
        list1.remove(i)
print(list1)

[1, 2, 3, 5, 6, 7, 8]

In [ ]:
#Python Program to Convert Bytes to a String
print(b'Easy \xE2\x9C\x85'.decode("utf-8"))

Easy âœ…

In [ ]:
#Python Program to Remove Duplicate Element From a List
list1 = [5,2,6,6,5,4,7,88,9,9,5,4,8,6]
list2 = set(list1)
print(list2)

{2, 4, 5, 6, 7, 8, 9, 88}

In [ ]:
#Python Program to Remove Duplicate Element From a List
list1 = [5,2,6,6,5,4,7,88,9,9,5,4,8,6]
list2 = list(set(list1))
print(list2)

[2, 4, 5, 6, 7, 8, 9, 88]

In [ ]:
#Python Program to Count the Number of Occurrence of a Character in String
str1 = "Ajit is smart boy"
count_element = input()
count= 0
for i in str1:
    if i == count_element :
        count +=1
print(count)

s
2

In [ ]:
#Example 2: Using method count()
my_string = "Programiz"
my_char = input()

print(my_string.count(my_char))

o
1

In [ ]:
###Python Program to Create a Countdown Timer
import time

def countdown(time_sec):
    while time_sec:
        mins, secs = divmod(time_sec, 60) #x = divmod(50, 2) print(x) output = (25,0)
        timeformat = '{:02d}:{:02d}'.format(mins, secs)
        print(timeformat, end='\r')
        time.sleep(1)
        time_sec -= 1

    print("stop ")

countdown(10)

stop

In [ ]:
#Python Program to Capitalize the First Character of a String
string1 = "profissional data scientest is ajit"
new = string1.capitalize()
print(new)

Profissional data scientest is ajit

In [ ]:
#"wrong method"
#Python Program to Check If Two Strings are Anagram
str11 = "pace"
str22 = "care"
str1 = sorted(str11)
str2 = sorted(str22)
# check the len
if (len(str1)==len(str2)) and  (str1 == str2):
    print("the",str11,"and",str22,"its Anagram")
else:
    print("the",str11,"and",str22,"its not Anagram")

the pace and care its not Anagram

In [ ]:
str1 = "Race"
str2 = "Care"

# convert both the strings into lowercase
str1 = str1.lower()
str2 = str2.lower()

# check if length is same
if(len(str1) == len(str2)):

    # sort the strings
    sorted_str1 = sorted(str1)
    sorted_str2 = sorted(str2)

    # if sorted char arrays are same
    if(sorted_str1 == sorted_str2):
        print(str1 + " and " + str2 + " are anagram.")
    else:
        print(str1 + " and " + str2 + " are not anagram.")

else:
    print(str1 + " and " + str2 + " are not anagram.")

race and care are anagram.

In [ ]:
#Python Program to Count the Number of Digits Present In a Number
num = 123456
print(len(str(num)))

6

In [ ]:
#Python Program to Compute the Power of a Number
base = int(input("Enter the Base  "))
exponant = int(input("Enter the Exponant"))

print("the power of number",base**exponant)

Enter the Base  3
Enter the Exponant4
the power of number 81

In [ ]:
#Python Program to Reverse a Number
a=11245799
print(str(a)[::-1])

99754211

In [ ]:
11245799%10

9

In [ ]:
# Python program to reverse a number using for loop

# take inputs
num = input("Enter a number: ")

# calculate reverse of number
print('The reverse number is:')
for i in reversed(num):
   print(i, end='')

Enter a number: 1125688
The reverse number is:
8865211

In [ ]:
#Python Program to Check the File Size
import os

file_stat = os.stat('NPProt.bkp')
print(file_stat.st_size)

49152

In [ ]:
#Python Program to Iterate Through Two Lists in Parallel
list1 = [1,2,3,4,5]
list2 = ['a','b','c','d','e']
for i , j in zip(list1,list2):
    print(i,j)

1 a
2 b
3 c
4 d
5 e

In [ ]:
#Python Program to Get File Creation and Modification Date
import datetime
import pathlib
file = pathlib.Path('NPProt.bkp')
print(file)
print("modification Date " %datetime.datetime.fromtimestamp(file.stat().st_mtime))
print("Last metadata change time or path creation time: %s" % datetime.datetime.fromtimestamp(file.stat().st_ctime))

NPProt.bkp

TypeError: not all arguments converted during string formatting

In [ ]:
#Python Program to Return Multiple Values From a Function
def name():
    return "Ajit","Padole"

# print the tuple with the returned values
print(name())

# get the individual items
name_1, name_2= name()
print(name_1, name_2)

('Ajit', 'Padole')
Ajit Padole

In [ ]:
#Python Program to Trim Whitespace From a String
My_string = "  palidrom  "
print(My_string)
print(My_string.strip())  # strip faction use for remove the space

  palidrom
palidrom

In [ ]:
#Python Program to Convert Two Lists Into a Dictionary
num = [1,2,3,4]
laguage = ["Hindi","English","Marathi","sanskrit"]
dictionary = dict(zip(num,laguage))
print(dictionary)

{1: 'Hindi', 2: 'English', 3: 'Marathi', 4: 'sanskrit'}

In [ ]:
#Python Program to Get the Class Name of an Instance
class motarcical:
    def name(self, name):
        return name

v = Vehicle()
print(v.__class__.__name__)

Vehicle

In [ ]:
#Python Program to Delete an Element From a Dictionary
my_dict = {31: 'a', 21: 'b', 14: 'c'}
del my_dict[21]
print(my_dict)

{31: 'a', 14: 'c'}

In [ ]:
#Example 2: Using pop()
my_dict = {31: 'a', 21: 'b', 14: 'c'}

my_dict.pop(21)

print(my_dict)

{31: 'a', 14: 'c'}

In [ ]:
#Python Program to Count the Occurrence of an Item in a List
freq = ['a', 1, 'a', 4, 3, 2, 'a'].count('a')
print(freq)

3

In [ ]:
a= ['a','f','f','r',1,23,5,4,6,7,2,5,7]
find = int(input())
count = 0
for i in a:
    if i == find:
        count += 1
print(count)

7
2

In [ ]:
def countX(lst, x):
    count = 0
    for ele in lst:
        if (ele == x):
            count = count + 1
    return count
 
 
# Driver Code
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x,countX(lst, x)))

8 has occurred 5 times

In [ ]:
# freuency of occurance for syring
frq1 = "GeekFoorGreek"
x = input()
def freq_(frq1,x):
    frq_count = 0
    for i in frq1:
        if i == x:
            frq_count = frq_count + 1
    return frq_count
            
        
print(freq_(frq1,x))

G
2

In [ ]:

#Python Program to Randomly Select an Element From the List
import random

my_list = [1, 'a', 32, 'c', 'd', 31]
print(random.choice(my_list))

a

In [ ]:
#Python Program to Print Output Without a Newline
# print each statement on a new line
print("Python")
print("is easy to learn.")

# new line
print()

# print both the statements on a single line
print("Python", end=" ")
print("is easy to learn.")

Python
is easy to learn.

Python is easy to learn.

In [ ]:
# Python Program to Convert String to Datetime
from datetime import datetime
string = "Mar 12 1998 11.30AM"
dt_format = datetime.strptime(string, '%b %d %Y %I:%M%p')
print(dt_format)

ValueError: time data 'Mar 12 1998 11.30AM' does not match format '%b %d %Y %I:%M%p'

In [ ]:
def split(my_list, chunk_size):

  for i in range(0, len(my_list), chunk_size):
    yield my_list[i:i + chunk_size]

chunk_size = 2
my_list = [1,2,3,4,5,6,7,8,9]
print(list(split(my_list, chunk_size)))

[[1, 2], [3, 4], [5, 6], [7, 8], [9]]

In [ ]:
#Python Program to Check if a Key is Already Present in a Dictionary
my_dict = {1: 'a', 2: 'b', 3: 'c'}
if 2 in my_dict:
    print("present")

present

In [ ]:
#Python Program to Concatenate Two Lists
list1 = [1,2,3,6,4,'f','r','sd']
list2 = [5,6,8,79,'gh','r']
join_list = list1 + list2
print(join_list)

[1, 2, 3, 6, 4, 'f', 'r', 'sd', 5, 6, 8, 79, 'gh', 'r']

In [ ]:
#Python Program to Check If a List is Empty
my_list = []
if not my_list:
    print("the list is empty")

the list is empty

In [ ]:
#Python Program to Sort a Dictionary by Value
dt = {2:6, 9:8, 8:5}
sorted_value = sorted(dt.values())
print(sorted_value)

[5, 6, 8]

In [ ]:
#Python Program to Iterate Over Dictionaries Using for Loop
dt = {'a': 'juice', 'b': 'grill', 'c': 'corn'}

for key, value in dt.items():
    print(key, value)

a juice
b grill
c corn

In [ ]:
#Python Program to Flatten a Nested List
my_list = [[1], [2, 3], [4, 5, 6, 7]]
fat = []
for sublist in my_list:
    for i in sublist:
        fat.append(i)
print(fat)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#Python Program to Access Index of a List Using for Loop
my_list = [21, 44, 35, 11]

for index, val in enumerate(my_list):
    print(index, val)

0 21
1 44
2 35
3 11

In [ ]:
#Python Program to Merge Two Dictionaries
dict_1 = {1: 'a', 2: 'b'}
dict_2 = {2: 'c', 4: 'd'}
join_dict = (dict_1 | dict_2)
print(join_dict)

{1: 'a', 2: 'c', 4: 'd'}

In [ ]:
rows = int(input("Enter number of rows: "))

for i in range(rows):
    for j in range(i+1):
        print("* ", end="")
    print("\n")

Enter number of rows: 5
*

* *

* * *

* * * *

* * * * *

In [ ]:
rows = int(input("Enter number of rows: "))

for i in range(rows):
    for j in range(i-1):
        print("* ", end="")
    print("\n")

Enter number of rows: 5




*

* *

* * *

In [ ]:
rows = int(input("Enter number of rows: "))

for i in range(rows):
    for j in range(i+1):
        print(j+1, end=" ")
    print("\n")

Enter number of rows: 5
1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [ ]:
rows = int(input("Enter number of rows: "))

ascii_value = 65

for i in range(rows):
    for j in range(i+1):
        alphabet = chr(ascii_value)
        print(alphabet, end=" ")
    
    ascii_value += 1
    print("\n")

Enter number of rows: 5
A

B B

C C C

D D D D

E E E E E

In [ ]:
# find the number of vowels 
string = 'Hello, have you tried our tutorial section yet?'
vowels= set("aeiouAEIOU")
count_vowels = 0
for i in string:
    if i in vowels:
        count_vowels += 1
print(count_vowels)

18

In [ ]:
# method  for count vowels
def vowel_count(str):
    count = 0
    vowel = ("aeiouAEIOU")
    for i in str:
        if i in vowel:
            count += 1
    print(count)
str = "GeeksforGeeks"
vowel_count(str)

5

In [ ]:
# Program to perform different set operations like in mathematics

# define three sets
E = {0, 2, 4, 6, 8}
N = {1, 2, 3, 4, 5}

# set union
print("Union of E and N is",E | N)

# set intersection
print("Intersection of E and N is",E & N)

# set difference
print("Difference of E and N is",E - N)

# set symmetric difference
print("Symmetric difference of E and N is",E ^ N)

Union of E and N is {0, 1, 2, 3, 4, 5, 6, 8}
Intersection of E and N is {2, 4}
Difference of E and N is {0, 8, 6}
Symmetric difference of E and N is {0, 1, 3, 5, 6, 8}

In [ ]:
#Python Program to Sort Words in Alphabetic Order
# Program to sort alphabetically the words form a string provided by the user

my_str = "Hello this Is an Example With cased letters"

# To take input from the user
#my_str = input("Enter a string: ")

# breakdown the string into a list of words
words = [word.lower() for word in my_str.split()]

# sort the list
words.sort()

# display the sorted words

print("The sorted words are:")
for word in words:
   print(word)

The sorted words are:
an
cased
example
hello
is
letters
this
with

In [ ]:
#Python Program to Remove Punctuations From a String
# define punctuation
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
my_str = "Hello!!!, he said ---and went."
world = ""
for i in my_str:
    if i not in punctuations:
        print(i,end='')

Hello he said and went

In [ ]:
#Python Program to Check Whether a String is Palindrome or Not
string = "room"
def palidrom(string):
    if string == string[::-1]:
        return " the string is Palidrom "
    else:
        return "The string is not palidrom"
print(palidrom(string))

The string is not palidrom

In [ ]:
# Program to display calendar of the given month and year

# importing calendar module
import calendar

yy = 2014  # year
mm = 11    # month

# To take month and year input from the user
# yy = int(input("Enter year: "))
# mm = int(input("Enter month: "))

# display the calendar
print(calendar.month(yy, mm))

   November 2014
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

In [ ]:
## Python Program to find the factors of a number
num= 35
for i in range(1,num+1):
    if num % i ==0:
        print(i)

1
5
7
35

In [ ]:
# Python Program to find the L.C.M. of two input number

def compute_lcm(x, y):

   # choose the greater number
   if x > y:
       greater = x
   else:
       greater = y

   while(True):
       if((greater % x == 0) and (greater % y == 0)):
           lcm = greater
           break
       greater += 1

   return lcm

num1 = 54
num2 = 24

print("The L.C.M. is", compute_lcm(num1, num2))

The L.C.M. is 216

In [ ]:
# Python program to find H.C.F of two numbers

# define a function
def compute_hcf(x, y):

# choose the smaller number
    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i 
    return hcf

num1 = 54 
num2 = 24

print("The H.C.F. is", compute_hcf(num1, num2))

The H.C.F. is 6

In [ ]:
#Python Program to Find ASCII Value of Character
# Program to find the ASCII value of the given character

c = 'p'
print("The ASCII value of '" + c + "' is", ord(c))

The ASCII value of 'p' is 112

In [ ]:
# Python program to convert decimal into other number systems
dec = 344

print("The decimal value of", dec, "is:")
print(bin(dec), "in binary.")
print(oct(dec), "in octal.")
print(hex(dec), "in hexadecimal.")

The decimal value of 344 is:
0b101011000 in binary.
0o530 in octal.
0x158 in hexadecimal.

In [ ]:
#Python Program to Find Numbers Divisible by Another Number
# Take a list of numbers
my_list = [12, 65, 54, 39, 102, 339, 221]

result = list(filter(lambda x : (x%13 ==0),my_list))
print(result)

[65, 39, 221]

In [ ]:
# sum of natural number
num = 16 
count = 0
for i in range(1,num+1):
    count = count + i
print("The sum of natural number",count)

The sum of natural number 136

In [ ]:
# Sum of natural numbers up to num

num = 16

if num < 0:
   print("Enter a positive number")
else:
    
    sum = 0
   # use while loop to iterate until zero
    while(num > 0):
        sum += num
        num -= 1
    print("The sum is", sum)

The sum is 136

In [ ]:
#armstrong number
num = 153
sum1 = 0
while num > 0:
    sum1 += num
    num % 10 ==0
    
print(sum1)

In [ ]:
# Program to generate a random number between 0 and 9

# importing the random module
import random

print(random.randint(0,9))

3

In [ ]:
# function which devide two number
def Dievide_two_num(a,b):
    return a//b
print(Dievide_two_num(10,5))

2

In [ ]:
# create pandas Data frame
# Import pandas library
import pandas as pd

# initialize list elements
data = [10,20,30,40,50,60]

# Create the pandas DataFrame with column name is provided explicitly
df = pd.DataFrame(data, columns=['Numbers'])

# print dataframe.
df

   Numbers
0       10
1       20
2       30
3       40
4       50
5       60

In [ ]:
sub1=int(input("Enter marks of the first subject: "))
sub2=int(input("Enter marks of the second subject: "))
sub3=int(input("Enter marks of the third subject: "))
sub4=int(input("Enter marks of the fourth subject: "))
sub5=int(input("Enter marks of the fifth subject: "))
avg=(sub1+sub2+sub3+sub4+sub4)/5
if(avg>=90):
    print("Grade: A")

Enter marks of the first subject: 90
Enter marks of the second subject: 91
Enter marks of the third subject: 92
Enter marks of the fourth subject: 93
Enter marks of the fifth subject: 98
Grade: A