# What is Python?

Python is an interpreted, object-oriented, high-level programming language with dynamic semantics

Different data types we will encounter in Python

Numeric - Numeric variables take values which are numbers like 9, 3.14, 0, Inf

String - String variables are used to store textual information

Boolean - Boolean variables have two modes either True or False.

Datetime - These variables are used to store date and time values such as 2020-08-01 12:23:54

# Integers and Floats

In [1]:
# Addition
2+1

3

In [2]:
# Subtraction
2-5

-3

In [3]:
# Floor Division
7//2

3

In [4]:
# Exponentiation
2**5

32

In [5]:
# Modulus
5%6

5

In [6]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [7]:
# Scientific Notation for representing large numbers
4E6

4000000.0

1,2,-5,1000	Integers

1.2,-0.5,2e2,3E2	Floating-point numbers

# What is a Variable?

VARIABLES are entities which help us store information and retrieve it later.

A variable with a fixed name can store information of nature like numeric, textual, boolean etc.

A Python variable is a reserved memory location to store values. In other words, a variable in a python program gives data to the computer for processing.

The type of data contained in a variable can be changed at user's will.

In [8]:
# Addition
x=5
y=7
z = x+y

print(z)

12

In [9]:
# Printing the memory address the variable z occupies
print(hex(id(z)))

0x1cc50d76a90

In [10]:
# Modulo operator
y=5
x=3

z = y%x       # Modulus is denoted by % sign
print(z)

2

##  Rules for naming a variable in Python

* Variables names must start with a letter or an underscore like _ product , product_


* The remainder of your variable name may consist of letters, numbers and underscores


* spacy1, pyThon,machine_learning are some valid variable names


* Names are case sensitive.


* case_sensitive, CASE_SENSITIVE, and Case_Sensitive are each a different variable.

# 1 Introduction to Strings

Strings are used in Python to record text information, such as names. 
It could either be a word, a phrase, a sentence, a paragraph or an entire encyclopedia.

###  Creating a String
* To create a string in Python you need to use either single quotes or double quotes. For example:

In [11]:
# Single word
my_first_string= 'algebra'
my_first_string

'algebra'

In [12]:
# Entire phrase 
phrase = 'Statistics sits at the heart of machine learning'
print(phrase)

Statistics sits at the heart of machine learning

In [13]:
type(phrase)

str

In [14]:
hashtag = "#"
print(hashtag)

#

In [15]:
type(hashtag)

str

In [17]:
# Note that we can't output multiple strings with only write string
'Linear Algebra'
'Calculus'

'Calculus'

In [18]:
print('Use \n to print a new line')

Use
 to print a new line

* bold text We can also use a function called <code>len()</code> to check the length of a string!

In [19]:
algo = 'regres sion '
len(algo)

12

Python's built-in len() function counts all of the characters in the string, including spaces and punctuation.

### <u> String Indexing </u>

* We know strings are a sequence, which means Python can use indexes to call parts of the sequence.


* A string index refers to the location of an element present in a string.


* The indexing begins from 0 in Python. 


* The first element is assigned an index 0, the second element is assigned an index of 1 and so on and so forth.


* In Python, we use brackets <code>[]</code> after an object to call its index.

In [2]:
string  = 'Principal Component Analysis!'

In [21]:
print(string[5])

i

In [22]:
len(string)

29

* We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. 


* The starting index is specified on the left of the <code>:</code> and the ending index is specified on the right of the <code>:</code>. 


* Remember the element located at the right index is not included.

In [24]:
print(string)
print(string[:13])

Principal Component Analysis!
Principal Com

In [3]:
print(string[:2])

Pr

In [28]:
print(string[::1])

Principal Component Analysis!

In [32]:
string[::1]

'Principal Component Analysis!'

In [29]:
print(string[::3])

Pnp mntnys

In [31]:
print(string[::-1])

!sisylanA tnenopmoC lapicnirP

## String Properties

* It's important to note that strings have an important property known as *immutability*. 


* This means that once a string is created, the elements within it can not be changed or replaced via item assignment. We will see how we can do such operation using string methods

In [33]:
# Can we change our string 'Hello' to 'Cello'? Lets try replacing the first letter H with C
string='Hello'
string[0] = 'C'

TypeError: 'str' object does not support item assignment

In [37]:
string1 = "Ajit"
string2 = "Padole"
print(string1 + 4 + string2)

TypeError: can only concatenate str (not "int") to str

To convert an integer into a string, you can use the str() function or you can simply write the number in quotes

In [38]:
# Concatenate strings!

string1='abc'
string2='def'
num = 4
print(string1 + str(4) + string2)

abc4def

In [39]:
# We can reassign string completely though!
string = string + ' concatenate me!'
print(string)

Hello concatenate me!

In [41]:
#len
algorithm = "Machine Learning"
len(algorithm)

16

In [42]:
#lower
algorithm.lower()

'machine learning'

In [43]:
#upper
algorithm.upper()

'MACHINE LEARNING'

In [45]:
#Count
algorithm.count("a")

2

In [47]:
#Find
algorithm.find("la")

-1

In [48]:
#replace 
algorithm.replace(' ','-')

'Machine-Learning'

In [49]:
algorithm.replace('M','L')

'Lachine Learning'

In [50]:
first_name = 'Rahul'
last_name = 'Modi'

full_name = f'Left plus right makes {first_name}  {last_name}'  # Use {} to print the variable you want to
print(full_name)

Left plus right makes Rahul  Modi

In [52]:
name = "Full name is and first is {} and last {}".format(first_name,last_name)
print(name)

Full name is and first is Rahul and last Modi

Check if a string contains a particular word or character

In [53]:
my_string = 'Albert Einstein'

In [54]:
'Albert' in my_string

True

#  2 Introduction to Lists


* Unlike strings, they are mutable, meaning the elements inside a list can be changed! 


* Lists are constructed with brackets <code>[]</code> and commas separating every element in the list.

In [2]:
# Assign a list to an variable named my_list
my_list = [1,2,3,4]

In [3]:
print(my_list)

[1, 2, 3, 4]

In [4]:
type(my_list)

list

* We just created a list of integers, but lists can actually hold different object types. For example:

In [5]:
my_list = ['A string',23,100.232,'o',True]

In [6]:
my_list

['A string', 23, 100.232, 'o', True]

## List Slicing

* We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. 


* The starting index is specified on the left of the <code>:</code> and the ending index is specified on the right of the <code>:</code>. 


* Remember the element located at the right index is not included.

In [8]:
# Consider a list of strings
loss_functions = ['Mean Absolute Error','Mean Squared Error','Huber Loss','Log Loss','Hinge Loss']
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

In [9]:
loss_functions[1:4]

['Mean Squared Error', 'Huber Loss', 'Log Loss']

In [10]:
# Grab the LAST FOUR elements of the list
loss_functions[-4:]

['Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

## List Operations
* Remember we said that lists are mutable as opposed to strings. Lets see how can we change the elements of a list

In [12]:
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

In [13]:
loss_functions + ['Kullback-Leibler']

['Mean Absolute Error',
 'Mean Squared Error',
 'Huber Loss',
 'Log Loss',
 'Hinge Loss',
 'Kullback-Leibler']

::* Note: This doesn't actually change the original list!

## List Functions

### <code>min()</code>


* <code>min()</code> function returns the minimum element of the list


* <code>min()</code> function only works with lists of similar data types

In [16]:
new_list = [6, 9, 1, 3, 5.5]

In [17]:
min(new_list)

1

In [18]:
my_new_list = ['a','b', 'z' ,'y' , 'm']

In [19]:
min(my_new_list)

'a'

### <code>max()</code>


* <code>max()</code> function returns the maximum element of the list


* <code>max()</code> function only works with lists of similar data types

In [20]:
new_list = ['Argue','Burglar','Parent','Linear','shape']

In [21]:
max(new_list)

'shape'

### <code>sum()</code>


* <code>sum()</code> function returns the sum of the elements of the list


* <code>sum()</code> function only works with lists of numeric data types

In [23]:
new_list = [6, 9, 1, 3, 5.5]

In [24]:
sum(new_list)

24.5

### <code>sorted()</code>


* <code>sorted()</code> function returns the sorted list 


* <code>sorted()</code> function takes reverse boolean as an argument


* <code>sorted()</code> function only works on a list with similar data types

In [26]:
new_list

[6, 9, 1, 3, 5.5]

In [27]:
sorted(new_list)

[1, 3, 5.5, 6, 9]

In [28]:
new_list = ['Argue','Burglar','Parent','Linear','shape']

In [29]:
sorted(new_list)

['Argue', 'Burglar', 'Linear', 'Parent', 'shape']

In [30]:
print(new_list)

['Argue', 'Burglar', 'Parent', 'Linear', 'shape']

In [32]:
sorted(new_list,reverse=True) #REVERSE LIST

['shape', 'Parent', 'Linear', 'Burglar', 'Argue']

## List Methods

* If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).


* Let's go ahead and explore some more special methods for lists:

In [34]:
# Create a new list
my_list = [1,2,3,1,1,1,3,10,5,8]

### <code>append()</code> 

* Use the <code>append()</code> method to permanently add an item to the end of a list.


* <code>append()</code> method takes the element which you want to add to the list as an argument

In [36]:
# Print the list
my_list

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8]

In [37]:
len(my_list)

10

In [38]:
# Append to the end of the list
my_list.append('Append me!')

In [39]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!']

In [40]:
len(my_list)

11

* Woah! Calling the <code>append()</code> method changed my list? Yes, the <code>append()</code>  method changes your original list!

In [41]:
# Show
my_list.append(2.73)

In [42]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73]

### <code>extend()</code>

* Use the <code> extend()</code> method to merge a list to an existing list


* <code> extend()</code> method takes a list or any iterable(don't worry about it now) as an argument.


* Quite helpful when you have two or more lists and you want to merge them together

In [43]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73]

In [44]:
my_list.extend(['Wubba','Lubba','Dub Dub'])

In [45]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, 'Wubba', 'Lubba', 'Dub Dub']

In [46]:
len(my_list)

15

### <code>pop()</code>

* Use <code>pop()</code> to "pop off" an item from the list. 


* By default <code>pop()</code> takes off the element at the last index, but you can also specify which index to pop off. 


* <code>pop()</code> takes the index as an argument and returns the elenent which was popped off.

In [47]:
# Print the list
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, 'Wubba', 'Lubba', 'Dub Dub']

In [48]:
# Pop off the 0 indexed item
my_list.pop()

'Dub Dub'

\* <code>pop()</code> method changes the list by popping off the element at the specified index

In [49]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, 'Wubba', 'Lubba']

In [50]:
# Assign the popped element, remember default popped index is -1
my_list.pop(-1)

'Lubba'

In [51]:
len(my_list)

13

### <code>remove()</code>

* Use <code>remove()</code> to remove an item/element from the list. 


* By default <code>remove()</code> removes the specified element from the list.


* <code>remove()</code> takes the element as an argument.

In [57]:
# Print the list
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 5, 8, 'Append me!', 2.73, 'Wubba']

In [58]:
# Remove the element which you want to 
my_list.remove(10,5,8)

TypeError: list.remove() takes exactly one argument (3 given)

In [60]:
# Remove the element which you want to 
my_list.remove(8)

In [62]:
# Show
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 5, 'Append me!', 2.73, 'Wubba']

### <code>count()</code>


* The <code>count()</code> method returns the total occurrence of a specified element in the list

In [63]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 5, 'Append me!', 2.73, 'Wubba']

In [64]:
# Count the number of times element 1 occurs in my_list
my_list.count('Wubba')

1

In [65]:
my_list.count(1)

4

### <code>index()</code>


* The <code>index()</code> method returns the index of a specified element.

In [66]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 5, 'Append me!', 2.73, 'Wubba']

In [67]:
my_list.index('Wubba')

10

In [68]:
my_list.index(3)

2

### <code>sort()</code>

* Use <code>sort()</code> to sort the list in either ascending/descending order


* The sorting is done in ascending order by default


* <code>sort()</code> method takes the reverse boolean as an argument


* <code>sort()</code> method only works on a list with elements of same data type

In [69]:
new_list = [6, 9, 1, 3, 5]

In [70]:
# Use sort to sort the list (this is permanent!)
new_list.sort()

In [71]:
print(new_list)

[1, 3, 5, 6, 9]

In [72]:
# Use the reverse boolean to set the ascending or descending order
new_list.sort(reverse=True)
print(new_list)

[9, 6, 5, 3, 1]

### <code>reverse()</code>

* <code>reverse()</code> method reverses the list

In [73]:
my_list = [1, 1, 1, 1, 1.43, 2, 3, 3, 5, 8, 10, 'Lubba', 'Dub Dub']

In [74]:
print(my_list)

[1, 1, 1, 1, 1.43, 2, 3, 3, 5, 8, 10, 'Lubba', 'Dub Dub']

In [75]:
my_list.reverse()

In [76]:
print(my_list)

['Dub Dub', 'Lubba', 10, 8, 5, 3, 3, 2, 1.43, 1, 1, 1, 1]

## Nested Lists

* A great feature of of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

In [78]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=['b','a','d']
lst_3=[7,8,9]

# Make a list of lists to form a matrix
list_of_lists = [lst_1,lst_2,lst_3]

In [79]:
print(list_of_lists)

[[1, 2, 3], ['b', 'a', 'd'], [7, 8, 9]]

In [80]:
# Show
type(list_of_lists)

list

In [81]:
# Grab first item in matrix object
list_of_lists[1]

['b', 'a', 'd']

In [84]:
list_of_lists[1]

['b', 'a', 'd']

#  3 Tuples, Sets & Dictionaries

# Tuples

* In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed. 


* You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar. 


* You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the <u>major distinction being that tuples are immutable</u>.


## Constructing Tuples

* The construction of a tuples use <code>()</code> with elements separated by commas.

In [1]:
# Create a tuple
my_tuple = (1,'a',3)

In [2]:
print(my_tuple)

(1, 'a', 3)

In [3]:
# Can also mix object types 
another_tuple = ('one',2, 4.53, 'asbc')

# Show
another_tuple

('one', 2, 4.53, 'asbc')

In [4]:
my_list = [1]

In [5]:
type(my_list)

list

In [9]:
my_tuple = (1,)

In [10]:
type(my_tuple)

tuple

## Tuple Indexing

* Indexing work just like in lists.


* A tuple index refers to the location of an element in a tuple.


* Remember the indexing begins from 0 in Python. 


* The first element is assigned an index 0, the second element is assigned an index of 1 and so on and so forth.

In [11]:
print(another_tuple)

('one', 2, 4.53, 'asbc')

In [12]:
# Grab the element at index 0, which is the FIRST element
another_tuple[0]

'one'

In [13]:
# Grab the element at index 3, which is the FOURTH element
another_tuple[3]

'asbc'

In [14]:
# Grab the element at the index -3, which is the THIRD LAST element
another_tuple[-3]

2

## Tuple Slicing

* We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. 


* The starting index is specified on the left of the <code>:</code> and the ending index is specified on the right of the <code>:</code>. 


* Remember the element located at the right index is not included.

## Tuple Methods

* Tuples have built-in methods, but not as many as lists do.

### <code>index()</code>


* The <code>index()</code> method returns the index of a specified element.

In [16]:
my_tuple =(1,2,3,4,5,6,1,1,2)

In [17]:
# Use .index to enter a value and return the index
my_tuple.index(2)

1

### <code>count()</code>


* The <code>count()</code> method returns the total occurrence of a specified element in a tuple

In [19]:
# Use .count to count the number of times a value appears
my_tuple.count(2)

2

In [20]:
my_list = [1,2,3,4]

In [21]:
my_list.

SyntaxError: invalid syntax (156127718.py, line 1)

## Immutability

* It can't be stressed enough that tuples are immutable.

In [22]:
print(my_tuple)

(1, 2, 3, 4, 5, 6, 1, 1, 2)

In [23]:
my_tuple[0] = 'change'

TypeError: 'tuple' object does not support item assignment

* Because of this immutability, tuples can't grow. Once a tuple is made we can not add to it.

* Let us consider a list and lets see if we can do this operation on them

In [25]:
# Create a list
my_list = [5,7,9,3,2]

In [29]:
# Replace the FIRST element with the value 1
my_list[0] = "Ajit"

In [30]:
# Our modified list
my_list

['Ajit', 7, 9, 3, 2]

* Tuple does not support methods such as <code>append()</code>, <code>extend()</code>, <code>remove()</code>, <code>pop()</code>

In [31]:
my_tuple.append('Great!')

AttributeError: 'tuple' object has no attribute 'append'

### <code>zip()</code>


* <code>zip()</code> function takes multiple lists as arguments and zips them together 


* This function returns a list of n-paired tuples where n is the number of lists being zipped

In [32]:
city_list = ['Delhi','Patna','Cuttack','Guwahati']
river_list = ['Yamuna','Ganga','Mahanadi','Brahmaputra']

In [33]:
zip(city_list, river_list)

In [34]:
city_and_their_rivers = list(zip(city_list,river_list))

In [35]:
city_and_their_rivers

[('Delhi', 'Yamuna'),
 ('Patna', 'Ganga'),
 ('Cuttack', 'Mahanadi'),
 ('Guwahati', 'Brahmaputra')]

## When to use Tuples

* You may be wondering, "Why bother using tuples when they have fewer available methods?" To be honest, tuples are not used as often as lists in programming, but are used when immutability is necessary. If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution. It provides a convenient source of data integrity.


* You will find them often in functions when you are returning some values


* You should now be able to create and use tuples in your programming as well as have an understanding of their immutability.

# Sets

* Sets are an unordered collection of *unique* elements. We can construct them by using the <code>set()</code> function.


* Sets cannot have duplicates.


* Sets are mutable just like lists.


* You can create a non-empty set with curly braces by specifying elements separated by a comma.

In [37]:
# Create an empty set 
empty_set = set()

In [38]:
type(empty_set)

set

In [42]:
# Create a non-empty set within curly braces
non_empty_set = {1,1,6,4,'abc'}
print(non_empty_set)

{1, 4, 6, 'abc'}

In [40]:
type(non_empty_set)

set

## A Time for Caution

* An empty set cannot be represented as <code>{}</code>, which is reserved for an <u>empty dictionary</u> which we will get to know in a short while

In [43]:
my_object = {}

In [44]:
type(my_object)

dict

In [45]:
my_set = set()

In [46]:
type(my_set)

set

In [47]:
# Create a list with repeats
my_list = [1,1,2,2,3,4,5,6,1,1]

In [48]:
# Cast as set to get unique values
my_set = set(my_list)

In [49]:
my_set

{1, 2, 3, 4, 5, 6}

In [50]:
# A set cannot have mutable items
my_set = {1, 2, (3, 4)}

* We cannot create a set whose any of the elements is a list

# But we can have tuples as set elements, they are immutable
my_set = {1, 2, (2,3)}

In [52]:
my_set = {1,2, {3,5}}

TypeError: unhashable type: 'set'

In [53]:
my_set

{(3, 4), 1, 2}

### <code>add()</code> 


*  <code>add()</code> method adds an element to a set


* This method takes the element to be added as an argument

In [55]:
# We add to sets with the add() method
my_set = set()
my_set.add('a')

In [56]:
#Show
my_set

{'a'}

In [57]:
# Add a different element
my_set.add(2)

In [58]:
#Show
print(my_set)

{2, 'a'}

In [61]:
# Lets add another element 1
my_set.add(1)

In [62]:
#Show
my_set

{1, 2, 'a'}

In [65]:
# Try to add the same element 1 again
my_set.add(1)

In [67]:
# Try to add the same element 1 again

my_set

{1, 2, 'a'}

* Notice how it won't place another 1 there. That's because a set is only 
concerned with unique elements!

### <code>update()</code>

* <code>update()</code> method helps to add multiple elements to a set

In [70]:
# add multiple elements
my_set.update([2, 3, 4])
print(my_set)

{1, 2, 3, 4, 'a'}

### <code>remove()</code>

* Use <code>remove()</code> to remove an item/element from the set. 


* By default <code>remove()</code> removes the specified element from the set.


* <code>remove()</code> takes the element as an argument.

In [72]:
non_empty_set = {1,5,6,73,2}

In [73]:
non_empty_set.remove(5)

In [74]:
non_empty_set

{1, 2, 6, 73}

In [75]:
non_empty_set.remove(45)

KeyError: 45

* <code>remove()</code> throws an error when we try to remove an element which is not present in the set

### <code>union()</code>


* <code>union()</code> method returns the union of two sets


* Also denoted by the operator <code>|</code>

In [77]:
# Initialize sets A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [78]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [79]:
# Also denoted by the operator |
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

### <code>intersection()</code>


* <code>intersection()</code> method returns the intersection of two sets


* Also denoted by the operator <code>&</code>

In [81]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [82]:
A.intersection(B)

{4, 5}

In [83]:
# Also denoted by the operator &
A & B

{4, 5}

### <code>difference()</code>


* <code>difference()</code> method returns the difference of two sets


* Difference of the set <code>B</code> from set <code>A</code> i.e, <code>(A - B)</code> is a set of elements that are only in <code>A</code> but not in <code>B</code>


* Also denoted by the operator <code>-</code>

In [85]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [86]:
A.difference(B)

{1, 2, 3}

In [87]:
# Also denoted by the operator -
A - B

{1, 2, 3}

In [88]:
B.difference(A)

{6, 7, 8}

In [89]:
B - A

{6, 7, 8}

### <code>symmetric_difference()</code>


* <code>symmetric_difference()</code> method returns the set of elements in A and B but not in both (excluding the intersection)


* Also denoted by the operator <code>^</code>

In [91]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [92]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [93]:
A^B

{1, 2, 3, 6, 7, 8}

# Dictionaries

* We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python. 


* If you're familiar with other languages you can think of these Dictionaries as hash tables. 


* So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.


* A Python dictionary consists of a key and then an associated value. That value can be almost any Python object. So a dictionary object always has elements as key-value pairs


## Constructing a Dictionary


* A dictionary object is constructed using curly braces <code>{key1:value1,key2:value2,key3:value3}</code>

In [94]:
# Make a dictionary with {} and : to signify a key and a value
marvel_dict = {'Name':'Thor','Place':'Asgard','Weapon' : 'Hammer', 1:2, 3 : 'power', 'alibies' : ['Ironman','Captain America'], 'abc' : {1:2, 4:5}}

In [95]:
# Call values by their key
marvel_dict['Place']

'Asgard'

In [96]:
type(marvel_dict)

dict

In [97]:
marvel_dict['Name']

'Thor'

In [98]:
type(marvel_dict['abc'])

dict

# Dictionary Methods

### <code>keys()</code>


* <code>keys()</code> method returns the list of keys in the dictionary object

In [100]:
marvel_dict.keys()

dict_keys(['Name', 'Place', 'Weapon', 1, 3, 'alibies', 'abc'])

In [101]:
list(marvel_dict.keys())

['Name', 'Place', 'Weapon', 1, 3, 'alibies', 'abc']

### <code>values()</code>

* <code>values()</code> method returns the list of values in the dictionary object

In [102]:
list(marvel_dict.values())

['Thor',
 'Asgard',
 'Hammer',
 2,
 'power',
 ['Ironman', 'Captain America'],
 {1: 2, 4: 5}]

### <code>items()</code>


* <code>items()</code> method returns the list of the keys and values

In [104]:
# Get the keys and their corresponding values
list(marvel_dict.items())

[('Name', 'Thor'),
 ('Place', 'Asgard'),
 ('Weapon', 'Hammer'),
 (1, 2),
 (3, 'power'),
 ('alibies', ['Ironman', 'Captain America']),
 ('abc', {1: 2, 4: 5})]

* We can also use the <code>get()</code> method to extract a particular value of key-value pair.

In [106]:
marvel_dict.get('Place')

'Asgard'

### <code>get()</code>
* <code>get()</code> method takes the key as an argument and returns None if the key is not found in the dictionary.


* We can also set the value to return if a key is not found. This will be passed as the second argument in <code>get()</code>

In [107]:
marvel_dict.get('Place')

'Asgard'

Its important to note that dictionaries are very flexible in the data types they can hold. For example:

In [108]:
employee_dict = {'Name':'Sanket','Skills':['Python','Machine Learning','Deep Learning'],'Band':6.0,'Promotion Year':[2016,2018,2020]}

In [109]:
len(employee_dict.keys())

4

In [110]:
# Let's call items from the dictionary
employee_dict['Skills']

['Python', 'Machine Learning', 'Deep Learning']

In [111]:
employee_dict['Skills'][0]

'Python'

In [112]:
# Can then even call methods on that value
employee_dict['Skills'][0].upper()

'PYTHON'

In [113]:
# Add a new key

employee_dict['Designation'] ='Senior Data Scientist'

### <code>update()</code>

* You can add an element which is a key-value pair using the <code>update()</code> method 

* This method takes a dictionary as an argument

In [115]:
employee_dict.update({'Salary':'2,000,000'})

In [116]:
employee_dict

{'Name': 'Sanket',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning'],
 'Band': 6.0,
 'Promotion Year': [2016, 2018, 2020],
 'Designation': 'Senior Data Scientist',
 'Salary': '2,000,000'}

In [117]:
# Subtract 123 from the value
employee_dict['Name'] = employee_dict['Name'] + ' ' + 'Raj'

In [118]:
#Check
employee_dict

{'Name': 'Sanket Raj',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning'],
 'Band': 6.0,
 'Promotion Year': [2016, 2018, 2020],
 'Designation': 'Senior Data Scientist',
 'Salary': '2,000,000'}

### <code>dict()</code>


* We can also create dictionary objects from sequence of items which are pairs. This is done using the <code>dict()</code>method


*  <code>dict()</code> function takes the list of paired elements as argument

In [119]:
country_list = ['India','Australia','United States','England']
city_list = ['New Delhi', 'Canberra' , 'Washington DC','London']

In [120]:
country_city_list = list(zip(country_list,city_list))

In [121]:
country_city_list

[('India', 'New Delhi'),
 ('Australia', 'Canberra'),
 ('United States', 'Washington DC'),
 ('England', 'London')]

In [122]:
dict(country_city_list)

{'India': 'New Delhi',
 'Australia': 'Canberra',
 'United States': 'Washington DC',
 'England': 'London'}

### <code>pop()</code>


* <code>pop()</code> method removes and returns an element from a dictionary having the given key.

* This method takes two arguments/parameters (i) key - key which is to be searched for removal, (ii) default - value which is to be returned when the key is not in the dictionary

In [125]:
# Let us create a list of paired tuples
country_city_tuples = [('India','New Delhi'),('Australia','Canberra'),('United States','Washington DC'),('England','London')]

In [126]:
country_city_dict = dict(country_city_tuples)
country_city_dict.pop('England')

'London'

In [127]:
country_city_dict

{'India': 'New Delhi',
 'Australia': 'Canberra',
 'United States': 'Washington DC'}

### We can use the <code>zip()</code> and <code>dict()</code> methods to create 

---

a dictionary object from two lists

In [128]:
name = ["Manjeet", "Nikhil", "Shambhavi"]
marks = [40, 50, 60]

In [129]:
mapped = zip(name, marks)

In [130]:
mapped

In [131]:
print(dict(mapped))

{'Manjeet': 40, 'Nikhil': 50, 'Shambhavi': 60}

In [132]:
name = ["Manjeet", "Nikhil", "Shambhavi"]
marks = [40, 50, 60,80]

In [133]:
mapped = zip(name, marks)

In [134]:
print(dict(mapped))

{'Manjeet': 40, 'Nikhil': 50, 'Shambhavi': 60}